.dropdown-item:hover {
    background-color: #f3f4f6;
}

body.dark-mode .profile-name {
    color: #c9d1d9 !important;
}

body.dark-mode .profile-role {
    color: #8b949e !important;
}

body.dark-mode .top-bar-content {
    color: #c9d1d9 !important;
}

/* Toggle Button Colors */
.dark-mode-toggle {
    color: #4b5563 !important;
    /* Moon color (Dark Gray) */
}

body.dark-mode .dark-mode-toggle {
    color: #fbbf24 !important;
    /* Sun color (Amber) */
}